<h1>Send Form</h1>

<form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
  <fieldset formGroupName="name">
    <div class="text__input">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName" />
    </div>
    <div class="text__input">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" />
    </div>
  </fieldset>
  <div
    class="text__input"
    [ngClass]="{
      'has-danger': email.invalid && email.dirty,
      'has-success': email.valid && email.dirty
    }"
  >
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" />
  </div>
  <div class="pre__styling">
    <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
    <pre>Pristine? {{ myform.controls.email.pristine }}</pre>
    <pre>Touched? {{ myform.controls.email.touched }}</pre>
    <pre>Valid? {{ myform.controls.email.valid }}</pre>
    <pre>Invalid? {{ myform.controls.email.invalid }}</pre>
  </div>
  <div
    class="text__input"
    [ngClass]="{
      'has-danger': password.invalid && (password.dirty || password.touched),
      'has-success': password.valid && (password.dirty || password.touched)
    }"
  >
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" />
    <div
      class="form-control-feedback"
      *ngIf="password.errors && (password.dirty || password.touched)"
    >
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">
        Password must be
        {{ password.errors.minlength.requiredLength }} characters long, we need
        another
        {{
          password.errors.minlength.requiredLength -
            password.errors.minlength.actualLength
        }}
        characters
      </p>
    </div>
    <div class="pre__styling">
      <pre>{{ password.errors | json }}</pre>
    </div>
  </div>
  <div class="text__input">
    <label>Language</label>
    <select class="form-control" formControlName="language">
      <option value="">Please select a language</option>
      <option *ngFor="let lang of langs" [value]="lang">{{ lang }} </option>
    </select>
  </div>
  <div class="pre__styling">
    <pre>{{ myform.value | json }}</pre>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
